<div class="container">
  <div class="row">
  	<div class="col-md-2">
  		<a href="remote-control" class="splash-link">
      	<span class="glyphicon glyphicon-facetime-video"></span>
      	<h2>Remote control</h2>
      </a>
      <a href="program" class="splash-link">
     	 <span class="glyphicon glyphicon-pencil"></span>
     	 <h2>Program</h2>
      </a>
      <a href="play" class="splash-link">
	      <span class="glyphicon glyphicon-thumbs-up"></span>
	      <h2>Play</h2>
  		</a>
    </div>

    <div class="col-md-10">
  		<img class="splash-img" src="/img/robot-kit.jpg" />
  	</div>
    
  </div>
</div>