<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand" href="/">PiBot</a>
  </div>
</div>

<div class="container" id="home">
  <div class="row">
  	<div class="col-md-4">
  		<a href="remote-control.html" class="splash-link pibot-red-bg make-square">
      	<i class="fa fa-video-camera"></i>
      	<h2>Remote control</h2>
      </a>
    </div>
    <div class="col-md-4">
      <a href="program.html" class="splash-link pibot-green-bg make-square">
     	 <i class="fa fa-puzzle-piece"></i>
     	 <h2>Program</h2>
      </a>
    </div>
    <div class="col-md-4">
      <a href="play.html" class="splash-link pibot-blue-bg make-square">
	      <i class="fa fa-thumbs-up"></i>
	      <h2>Play</h2>
  		</a>
    </div>

   <!--  <div class="col-md-10">
  		<img class="splash-img" src="/img/robot-kit.jpg" />
  	</div> -->
    
  </div>
</div>