@font-face {
  font-family: 'Virgo';
  src: url('/fonts/virgo.ttf') format('truetype');
}

/*
* Colours
*/

.pibot-red-bg {
	background-color: #E74D4D;
}

.pibot-red {
	color: #E74D4D;
}

.pibot-blue-bg {
	background-color: #4D4FE7;
}

.pibot-blue {
	color: #4D4FE7;
}

.pibot-purple-bg {
	background-color: #8000FF;
}

.pibot-purple {
	color: #8000FF;
}

.pibot-green-bg {
	background-color: #7DE74D;
}

.pibot-green {
	color: #7DE74D;
}

.pibot-neutral-bg {
	background-color: #00FFBF;
}

.pibot-neutral {
	color: #00FFBF;
}

.pibot-orange-bg {
	background-color: #FFBF00;
}

.pibot-orange {
	color: #FFBF00;
}

/*
*	Global
*/

body {
	color: white;
	background-color: #262626;
}

.navbar {
	margin: 20px 0;
}

.navbar-nav li.active a {
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.navbar-nav li a {
	display: block;
	position: relative;
	padding: 0.5em;
	width: 100px;
	border-radius: 1px;
	margin: 10px 1em 0;
	overflow: visible;
	font-size: 32px;
	transition: background-color 0.15s linear,
		color 0.15s linear;
}

.navbar-nav li a {
	display: block;
}

.navbar-nav > li:not(.active) > a:hover, .navbar-nav > li:not(.active) > a:focus {
	background-color: white;
	color: black;
}

.navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
	background-color: transparent;
	color: white;
	cursor: default;
}

.navbar-nav li span, .navbar-nav li i {
	display: block;
	text-align: center;
}

.navbar-nav li span {
	font-weight: bold;
	margin-top: 0.5em;
	font-size: 16px;
}

.navbar > .container .navbar-brand {
	background: url('/img/pibot-logo-white.png') center center no-repeat;
	background-size: 80% auto;
	text-align: left;
	text-indent: -9999px;
	display: block;
	position: relative;
	margin: 10px 0;
	padding: 1px;
	width: 100px;
	height: 100px;
	border: 2px solid white;
	border-radius: 50px;
	overflow: visible;
	transition: background-color 0.15s linear;
}

.navbar > .container .navbar-brand:hover {
	background: url('/img/pibot-logo-black.png') center center no-repeat;
	background-color: white;
	background-size: 80% auto;
}

/*
*	Home
*/

.splash-img {
	width: 100%;
	height: auto;
}

.splash-link {
	display: block;
	color: black;
	position: relative;
	padding: 1em;
	width: 100%;
	border-radius: 1px;
	overflow: visible;
	margin-bottom: 2.5em;
	transition: background-color 0.15s linear,
		color 0.15s linear;
}

.splash-link i {
	display: inline-block;
	font-size: 70px;
	line-height: 116px;
	margin-left: 24px;
}

.splash-link:hover {
	text-decoration: none;
	background: black;
	color: white;
}

.splash-link h2 {
	position: absolute;
	margin: 0;
	bottom: 20px;
	right: 20px;
}

/*
* Program
*/

#blockly-frame {
	position: relative;
	height: 500px;
	border: 1px solid #7DE74D;
}

#blockly-frame iframe {
	position: absolute;
	border: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
* Play
*/

#play .saved-programs li {
	display: block;
	float: left;
	width: 24%;
	margin: 10px 1.25%;
	padding: 10px;
	height: 9em;
	font-size: 1.1em;
	color: white;
	border: 1px solid #4D4FE7;
	border-radius: 2px;
	transition: background-color 0.15s linear;
}

#play .saved-programs li:nth-child(4n+4) {
	margin-right: 0;
}

#play .saved-programs li:nth-child(1n+1) {
	margin-left: 0;
}

#play .saved-programs li:hover {
	background-color: #4D4FE7;
}

#play .saved-programs li h3 {
	margin-top: 0;
	display: inline-block;
	width: 80%;
}

#play .saved-programs-buttons {
	float: right;
	height: 100%;
	width: 10%;
}

#play .saved-programs li .button-play, #play .saved-programs li .button-edit {
	color: white;
	font-size: 20px;
}

#play .saved-programs li .button-play:hover, #play .saved-programs li .button-edit:hover {
	text-decoration: none;
}

#play .saved-programs li .button-play {
	margin-bottom: 15px;
}