@font-face {
  font-family: 'Virgo';
  src: url('/fonts/virgo.ttf') format('truetype');
}

.navbar {
	border-bottom: 1px solid black;
}

.navbar-nav li.active a {
	color: #428bca;
}

.navbar-nav li a {
	display: block;
	color: black;
	position: relative;
	padding: 0.5em;
	margin: 10px 1em 0;
	overflow: visible;
	font-size: 32px;
}

.navbar-nav li a {
	display: block;
}

.navbar-nav li span {
	display: block;
	text-align: center;
}

.navbar-nav li span.navlabel {
	font-weight: bold;
	margin-top: 0.5em;
	font-size: 16px;
}


.navbar-brand {
	background: url('/img/pibot-logo.png') center center no-repeat;
	background-size: 80% auto;
	text-align: left;
	text-indent: -9999px;
	display: block;
	position: relative;
	margin: 10px 0;
	padding: 1em;
	width: 75px;
	height: 75px;
	border: 2px solid black;
	border-radius: 50px;
	overflow: visible;
}

.splash-img {
	width: 100%;
	height: auto;
}

.splash-link {
	display: block;
	position: relative;
	padding: 1em;
	width: 150px;
	height: 150px;
	border: 5px solid black;
	border-radius: 75px;
	overflow: visible;
	margin-bottom: 2.5em;
}

.splash-link span {
	display: inline-block;
	font-size: 70px;
	line-height: 116px;
	margin-left: 24px;
}

.splash-link h2 {
	display: none;
}

.splash-link:hover {
	text-decoration: none;
	background: black;
	color: white;
}

.splash-link:hover h2 {
	z-index: 1;
	margin: 0;
	line-height: 150px;
	width: 500px;
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 200px;
}

/*
* Program
*/

#blockly-frame {
	position: relative;
	height: 500px;
}

#blockly-frame iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
* Play
*/

#play .saved-programs li {
	display: block;
	float: left;
	width: 23%;
	margin: 1%;
	padding: 10px;
	height: 5em;
	font-size: 1.1em;
	background-color: #428bca;
	border-radius: 2px;
	color: white;
}

#play .saved-programs li h3 {
	margin-top: 0;
	display: inline-block;
	width: 80%;
}

#play .saved-programs-buttons {
	float: right;
	height: 100%;
	width: 10%;
}

#play .saved-programs li .button-play, #play .saved-programs li .button-edit {
	color: white;
	font-size: 20px;
}

#play .saved-programs li .button-play:hover, #play .saved-programs li .button-edit:hover {
	text-decoration: none;
}

#play .saved-programs li .button-play {
	margin-bottom: 15px;
}